.loginSignUp {
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginsignup-container {
    width: 90%;
    max-width: 580px;
    background: #fff;
    padding: 40px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.loginsignup-container h1 {
    margin: 20px 0px;
    text-align: center;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
    border-radius: 5px;
}

.loginsignup-container button {
    width: 100%;
    height: 50px;
    color: #fff;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    text-align: center;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}

.loginsignup-aggree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .loginsignup-container {
        padding: 40px 60px;
    }

    .loginsignup-fields input {
        height: 60px;
        font-size: 18px;
    }

    .loginsignup-container button {
        height: 60px;
        font-size: 20px;
    }

    .loginsignup-login {
        font-size: 18px;
    }

    .loginsignup-aggree {
        font-size: 18px;
    }
}
